{% extends "../base.html" %}
{% block content %}
    {% for article in articles %}
        {% if article.image %}

            <a href="/article/get/{{ article.id }}">
                 <div class="imageContainer">
                  <img src="{{ article.image.url }}" alt="">
                 </div>
                <span>{{ article.title }}</span>

            </a>
        {% endif %}
    {% endfor %}
    {% for article in articles %}
        {% if not article.image %}

            <a href="/article/edit/{{ article.id }}">
                 <span>{{ article.title }}</span>
                <p>{{ article.firstParagraphe }}</p>

            </a>
        {% endif %}
    {% endfor %}

{% endblock %}