@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@font-face {
    font-family: "camptonLight";
    src: url("../campton/CamptonLight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: "camptonExtraLight";
    src: url("../campton/CamptonExtraLight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: "camptonBook";
    src: url("../campton/CamptonBook.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
:root{
    --pink:#FF85CA;
}
body {
    background: white;
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: "camptonLight", "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    overflow-x: hidden;
}
h1{
    font-family: "camptonExtraLight","Nunito","sans-serif";
}
.container {
    padding: 0 5vw;

    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;

    display: flex;

    padding-block: 56px;
    box-sizing: border-box;
}

/*==========NAVBAR=========*/
.navbar {

    width: 100%;
    height: 43%;


    display: flex;
    flex-direction: row;
    justify-content: center;


}

.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

    background: transparent;
    width: 50%;

    padding: 20px 50px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.navbar ul a {
    display: flex;
    height: fit-content;
    color: black;
    text-decoration: none;
}
.navbar li{
    height: fit-content;
}
.navbar ul .focus{
    color: var(--pink);
    font-weight: bolder;
}
/*=============HOME===========*/
.homeContainer{
justify-content: center;
    flex-direction: column;
    align-items: center;

    min-height: 93vh;
}
.homeContainer p{
    width: 40%;
    text-align: center;
    margin-block: 50px;
}


/*===========PROFILE========*/
.profileContainer{
    display: flex;
    flex-direction: column;
}
.profileContainer form{
    width: 35%;
}
.profileContainer .inputContainer{
    width: 100%;
}
.profileContainer .buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*===========BUTTONS========*/

.button1{
    text-decoration: none;
    color: white;
    width: fit-content;
    background: var(--pink);
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    outline: 0;
    border: 0;
}
.button1::after{

    content: "lll";
    position: absolute;
    bottom: -6px;
    right: -7px;
    width: 100%;
    height: 100%;
    border: 1.5px solid black;
    z-index: -1;
}


/*===========FORM==========*/

.input {
    font-family: "camptonBook", "Nunito", sans-serif;
}
.inputContainer{
    width: 100%;

    margin-block: 50px;
}

.inputContainer .inputDiv input::placeholder {
    color: #999999;
}
.inputContainer .inputDiv input,.inputContainer .inputDiv textarea{
border: 0;
    min-width: 100%;
    width: 100%;
    height: 100%;
    padding: 22px;
    box-sizing: border-box;
}

.inputContainer .inputDiv {
    position: relative;
    min-width: 100%;
    width: fit-content;
    border: 2px solid var(--pink);
    background: white
;
}

.inputContainer .inputDiv::after {
    content: "";
    position: absolute;
    bottom: -12px;
    right: -12px;
    width: 100%;
    height: 100%;
    border: 1.5px solid black;
    z-index: -1;
}